.carrinho{
  padding:4.5rem 6rem;
  margin: 0 3rem;
  @include tablet{
    padding:1.5rem 0;
    margin: 0;
  }//Etapas da compra
  .group-button{
    @include flex-center;
    margin-bottom: 3.5rem;
    @include tablet{
      margin-bottom:1.5rem;
      @include flex-column;
    }
    .etapas{
      font-family: titulo;
      color:#fff;
      background:#c8c8c8;
      padding: .3rem;
      width:230px;
      border-radius:9px;
      margin:0 1rem;
      text-align: center;
      @include tablet{
        margin:.5rem 0;
      }
    }
    .ativo{
      background:$principal;
    }
  }//carrinho
  .cont-carrinho{
    border-bottom: solid 2px #e1e1e1;
    padding: 1.5rem;
    padding-bottom: .5rem;
    @include tablet{
      padding: 1rem .5rem;
    }
    .col-sm-2{
      @include mobile{
        display:none;
      }
    }
    h2{
      font-family: titulo;
      font-size:1.2rem;
      text-transform: uppercase;
      text-align: right;
      @include tablet{
        text-align: left!important;
      }
    }
  }//linha produto
  .cont-prod{
    border-bottom: solid 2px #e1e1e1;
    padding: 1.5rem;
    @include tablet{
      padding:1rem .5rem;
    }
    .produto-carrinho{
      display: flex;
      align-items:center;
      @include mobile{
        flex-direction: column;
      }
      .img-produto{
        img{
          width:180px;
          margin-top:1rem;
          margin-bottom:1.5rem;
        }
      }
      .cont-produto{
        margin-left:1.5rem;
        @include tablet{
          margin: 0;
        }
        h3{
          font-size:1.3rem;
          font-family: titulo;
        }
        h4{
          font-size:1.2rem;
          font-family: titulo;
          margin-bottom: 0;
        }
        p{
          font-family: texto;
          margin-bottom: 0;
          font-size:1.2rem;
        }
      }
    }//alinhar preço, quant. sub-total
    .alinhar{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include tablet{
        justify-content:center;
        margin-top:.5rem;
      }
      span{
        font-family: titulo;
        font-size:1.2rem;
        text-transform: uppercase;
        margin: 0 .5rem;
      }
      .valor{
        font-family: titulo;
        font-size:1.2rem;
        text-transform: uppercase;
        margin: 0 .5rem;
      }
      input{
        display: block;
        width:50px;
        padding:.5rem;
        font-size: 1rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #ced4da;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        height:50px;
        margin:1rem 0;
        transition: ease-out all 1s;
        border-radius:5px;
        &:focus{
          box-shadow:0 0 0 0;
          outline: 0;
        }
      }
    }
  }//sub-total
  .sub{
    border-bottom: solid 2px #b5b5b5;
    padding: 1.5rem;
    @include tablet{
      padding: 1rem .5rem;
    }
    .col-12{
      text-align: right;
      @include tablet{
        text-align:center;
      }
      span{
        font-family: titulo;
        font-size:1.7rem;
        text-transform: uppercase;
      }
    }
  }
  
  //cupom e frente linha
  .cont-cupom{
    border-bottom: solid 2px #b5b5b5;
    padding: 1.5rem;
    padding-bottom: .5rem;
    @include tablet{
      padding:1rem .5rem;
    }
    .col-md-6{
      display:flex;
      flex-direction: column;
      @include tablet{
        align-items: center;
        text-align: center;
      }
      h4{
        font-family: titulo;
        font-size:1.5rem;
      }
      span{
        font-family: texto;
      }
      button{
        background: $principal;
        border: none;
        color: #fff;
        font-family: titulo;
        width: max-content;
        padding:.5rem 2rem;
        margin:1rem 0;
        border-radius: 7px;
        font-size:1.5rem;
        &:hover{
          background: #f54251;
        }
      }
    }
  }//total 
  .total{
    border-bottom: solid 2px #b5b5b5;
    padding: 1.5rem;
    @include tablet{
      padding: 1rem .5rem;
    }
    .col-12{
      text-align: right;
      @include tablet{
        text-align: center;
      }
      span{
        font-family: titulo;
        font-size:1.7rem;
        text-transform: uppercase;
      }
    }
  }//Finalização
  .finalizar{
    padding: 1.5rem;
    @include flex-center;
    img{
      width:100%;
    }
    .col-md-4{
      text-align: right;
      @include tablet{
        text-align: center;
      }
      button{
        background: #00b859;
        border: none;
        color: #fff;
        font-family: titulo;
        padding: 1.3rem 1.5rem;
        font-size: 1.5rem;
        border-radius: 7px;
        margin-left: 2rem;
        &:hover{
          background: #008540;
        }
        @include tablet{
          margin:1.5rem 0
        }
      }
    }
  }
}