.como-funciona{
  padding:4.5rem 6rem;
  margin: 0 3rem;
  @include tablet{
    padding:1.5rem 15px;
    margin: 0;
  }
  .sub-como-funciona{
    font-family: titulo;
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    @include tablet{
      font-size:1rem;
    }
  }
  .cont-como-funciona{
    border-top: solid 2px $principal;
    padding-top: 2rem;
    margin-top:1rem;
  }
  .como-funciona-conteudo{
    margin:2rem 0;
    h2{
      margin: 0;
      font-size: 1.2rem;
      font-family: titulo;
      margin-bottom: 1rem;
    }
    li{
      font-family: texto;
      font-size: 1rem;
    }
    a{
      color: $principal;
      font-weight: bold;
      font-family: texto;
    }
    p{
      font-family: texto;
      font-size: 1rem;
    }
  }
}