.fale-conosco{
  padding:4.5rem 6rem;
  margin: 0 3rem;
  @include tablet{
    padding:1.5rem 0;
    margin: 0;
  }
  .info{
    font-family: texto;
    p{
      color: $secundaria;
    }
    .email{
      color:$principal;
      margin-bottom:1rem;
    }
    .mapa{
      font-weight: bold;
      color: $principal;
      text-decoration: underline;
      i{
        margin-left: .5rem;
        font-size: 12px;
      }
    }
    .tel{
      color: $secundaria;
      text-decoration: none;
    }
  }
  .form{
    @include tablet{
      margin-top:2rem;
    }
    input{
      display: block;
      width: 100%;
      padding:1rem;
      font-size: 1rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      height:50px;
      margin:1rem 0;
      transition: ease-out all 1s;
      &:focus{
        box-shadow:0 0 0 0;
        outline: 0;
      }
    }
    input:nth-child(1){
      margin-top:0;
    }
    input::placeholder{
      color:#838383;
      font-family: texto;
    }
    textarea{
      display: block;
      width: 100%;
      padding:1rem;
      font-size:1rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      margin:1rem 0;
      transition: ease-out all 1s;
      &:focus{
        box-shadow:0 0 0 0;
        outline: 0;
      }
    }
    textarea::placeholder{
      color:#838383;
      font-family: texto;
      font-size:14px;
    }
    .btn-enviar{
      button{
        @include flex-center;
        background: $principal;
        color:#fff;
        font-family: titulo;
        font-size:1.3rem;
        border: none;
        padding: .7rem 2.5rem;
        border-radius: 8px;
        @include tablet{
          padding:.5rem 1rem;
          font-size:1rem;
        }
        img{
          margin-left: 1rem;
          width:25px;
          height:25px;
          @include tablet{
            width:15px;
            height:15px;
          }
        }
      }
    }
  }
}
