footer{
  padding-top:3.5rem;
  padding-bottom:1rem;
  @include tablet{
    padding:1rem 0;
  }
  .footer-top{
    @include flex-extremos;
    padding:3.5rem 4rem;
    border-top:solid 1px #dedede;
    border-bottom:solid 1px #dedede;
    margin: 0 4rem;
    @include tablet{
      margin: 0 .5rem;
      padding:1.5rem .5rem;
      @include flex-column;
    }
    .news-chamada{
      @include flex-start;
      align-items:center;
      width:50%;
      @include tablet{
        width: 100%;
        margin-bottom:1.2rem;
      }
      .img-news{
        margin-right:1rem;
        img{
          width:80px;
        }
      }
      .assine{
        h4{
          text-transform: uppercase;
          font-size:1rem;
          font-weight: bold;
          font-family: Titulo;
          color: $secundaria;
        }
        span{
          font-size:14px;
          font-family: texto;
          color: #565656;
        }
      }

    }
    form.cadastro{
      width:50%;
      @include tablet{
        width:100%;
        margin-top:1rem;
      }
      .input-group{
        display: flex;
        justify-content: flex-end;
        align-items:center;
        flex-wrap: nowrap;
        input{
          width:100%;
          max-width:500px;
          padding: .7rem 1rem;
          border-top-left-radius:3px;
          border-bottom-left-radius: 3px;
          border:solid 1px #cecdcd;
        }
        button{
          background: #f3f3f3;
          border: solid 1px #cecdcd;
          color: $principal;
          text-transform: uppercase;
          font-family: Titulo;
          padding: .9rem 1rem;
          font-size: 12px;
          letter-spacing: 2px;
          border-top-right-radius: 3px;
          border-bottom-right-radius:3px;
        }
      }
    }
  }
}
//Mid footer
.footer-mid{
    padding:3.5rem 4rem;
    border-bottom:solid 1px #dedede;
    margin: 0 4rem;
    @include tablet{
      margin: 0 .5rem;
      padding:1.5rem .5rem;
      @include flex-column-start;
    }
    .logo-footer{
      margin-left:2rem;
      ul{
        display: flex;
        justify-content:center;
        margin-top:3.5rem;
        @include tablet{
          margin-top:1rem;
        }
        li{
          a{
            color: #bebebe;
            margin:0 .5rem;
            &:hover{
              color:$principal;
            }
          }
        }
      }
      @include tablet{
        margin-left: 0;
      }
      img{
        width:120px;
        @include tablet{
          width:100px;
        }
      }
    }
    @include flex-extremos-start;
    .coluna{
      .mapa-site{
        @include tablet{
          margin-bottom:2rem;
        }
        li:nth-child(1){
          text-transform: uppercase;
          color:#666666;
          font-family: Titulo;
          margin-bottom:.5rem;
        }
        li{
          color: #838383;
          font-family:leve;
          font-size: 14px;
          margin-bottom: .5rem;
          a{
            color: #838383;
            font-family:leve;
            text-decoration: none;
            &:hover{
              color: $principal;
            }
            strong{
              font-family: Titulo;
              font-size:23px;
            }
          }
        }
      } 
    }
  }

.footer-bottom{
  @include flex-extremos-start;
  margin-top:3rem;
  padding: 0 4rem;
  @include tablet{
    margin: 0 .5rem;
    padding:1.5rem .5rem;
    @include flex-column-start;
  }
  .seguranca{
    @include flex-column;
    @include tablet{
      align-items: flex-start;
      margin-bottom:1rem;
    }
    ul{
      @include flex-center;
      margin-top:.5rem;
      @include tablet{
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
    span{
      font-size:14px;
      color: #838383;
      font-family:texto;
      margin-bottom:.5rem;
    }
  }
  .forma-pagamento{
    @include flex-column;
    @include tablet{
      align-items: flex-start;
      margin-bottom:1rem;
    }
    ul{
      @include flex-center;
      margin-top:.5rem;
      @include tablet{
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
    span{
      font-size:14px;
      color: #838383;
      font-family:texto;
      margin-bottom:.5rem;
    }
  }
  .jazzz{
    @include flex-column;
    span{
      font-size:10px;
      margin-bottom:.5rem;
      color: #838383;
      font-family:texto;
    }
  }
}







//cor do placeholder
input::placeholder {
    font-size:14px;
    font-family: texto;
    color:#9b9898;
}