.btn-outline{
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-family: leve;
    border: solid 1px #fff;
    padding: 1.3rem 1.4rem;
    letter-spacing: 7px;
    margin-top: 2.2rem;
    font-size: 1.2rem;
    @include tablet{
      font-size:1rem;
      letter-spacing:5px;
      margin-top:1rem;
      padding: 1rem;
    }
}
//titulo seção
.titulo-secao{
  background: url('../imgs/BARRA.png');
  color: #fff;
  font-family:leve;
  text-transform: uppercase;
  padding: 1.3rem 5rem;
  background-repeat: no-repeat;
  background-position: inherit;
  @include tablet{
    padding:1rem;
  }
  h1{
    font-size:1.7rem;
    margin-bottom:0;
    letter-spacing: 5px;
    @include tablet{
      font-size:1.5rem;
    }
  }
}
.bolder{
  font-weight: bold;
}

