header{
  padding:.8rem 0;
  .cont-header{
    // @include big-container;
    @include flex-extremos;
    padding: 0 2rem;
    @include tablet{
      @include flex-column;
      padding:0 1rem;
    }
    .logo{
      margin-left:3rem;
      @include tablet{
        margin-left: 0;
        @include flex-extremos;
        width:100%;
        // margin-bottom:2rem;
      }
      img{
        width: 75px;
        @include tablet{
          width:50px;
        }
      }
      .icon{
        display: none;
        @include tablet{
          display: block;
          width:35px;
        }
      }
    }
    nav{
      width:100%;
      ul{
       @include flex-start;
       margin-left:5rem;
       margin-bottom: 0;
       @include tablet{
         display:none;
         flex-direction: column;
         justify-content: center;
         align-items:center;
         margin-left:0;
         margin-top:1.5rem;
         border-top: 1px dotted $principal;
       }
       li{
         margin:0 1rem;
         @include tablet{
            align-self: flex-start;
            margin: .5rem;
         }
         a{
           color: $secundaria;
           text-transform: uppercase;
           text-decoration: none;
           font-family: texto;
           font-weight: 600;
           &:hover{
             color: $principal;
           }
         }
       }
      }
    }
    .social{
      @include flex-extremos;
      width:220px;
      margin-bottom: 0;
      @include tablet{
          display: none;
      }
      img{
        width:30px;
        cursor: pointer;
      }
      img.loja-icon{
       width:35px;
      }
    }
    .mobile{
      display: none;
      width:220px;
      margin-bottom: 0;
      @include tablet{
          @include flex-extremos;
          flex-direction: row;
          width:100%;
          margin-top:1rem;
          padding: 0 1.5rem;
      }
      img{
        width:30px;
      }
      img.loja-icon{
       width:35px;
      }
    }
  }
}

//submenu lojas
.submenu{
  @include tablet{
    display:none;
  }
  ul{
    display:flex;
    padding: 1.5rem 5rem;
    box-shadow: 0px -3px 6px -6px rgba(0,0,0,0.75);
    margin-bottom: 0;
    li:nth-child(1){
        font-family:leve;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left:0;
        color: $secundaria;
    }
    li{
      margin: 0 1.8rem;
      a{
        text-decoration: none;
        font-family: sub;
        text-transform: uppercase;
        color: $secundaria;
        font-size:1.2rem;
        &:hover{
          color: $principal;
        }
      }
      .active{
        color: $principal;
      }
    }
  }
}