
.carousel-destaque{
  .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #fff;
    @include tablet{
      display:none;
    }
  }
  .carousel-inner{
    height: 90vh;
    .img-carrosel{
      width:100%;
      height: 90vh;
      object-fit: cover;
    }
  }
  .cont-carrosel{
    @include tablet{
      display: flex;
      align-content: flex-end;
      justify-content:center;
    }
    .caption-carrosel{
      background:rgba(255, 0, 6, .8);
      width:max-content;
      bottom:19%;
      left:inherit;
      right:15%;
      padding: 3rem 2rem;
      text-align:left;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-top-right-radius: 1rem;
      @include tablet{
        padding:2rem 1.5rem;
        bottom:5%;
        right:inherit;
      }
      h2{
        font-family:sub;
        font-size:3.2rem;
        @include tablet{
          font-size:1.5rem;
        }
      }
      p{
        font-family: texto;
        font-size: 1.7rem;
        margin-top: 1.3rem;
        margin-bottom: 0;
        @include tablet{
          font-size:1rem;
          margin:.5rem 0;
        }
      }
    }
  }
}

.institucional-home{
  .cont-institucional {
    display:flex;
    @include tablet{
      @include flex-column;
    }
    .card-institucional{
      background:url('../imgs/bg-institucional.jpg');
      background-size: contain;
      height: 88vh;
      width: 50%;
      background-repeat: no-repeat;
      @include tablet{
        width:100%;
        height:100vh;
      }
      @include mobile{
        height:60vh;
      }
      img{
        width:650px;
        position: relative;
        @include tablet{
          width: 100%;
        }
      }
    }
    .card-institucional-txt{
      width:50%;
      padding:3rem 2rem;
      padding-bottom:0;
      display: flex;
      flex-direction: column;
      @include tablet{
        width:100%;
        padding: 1rem;
      }
      h2{
        color:#df1829;
        text-transform: uppercase;
        font-family: leve;
        letter-spacing: 7px;
        font-weight: normal;
        font-size: 1.2rem;
      }
      h1{
        font-family:sub;
        color:#343434;
        font-size:2rem;
        margin-bottom:1.5rem;
      }
      p{
        font-family:texto;
        color:#343434;
        line-height: 30px;
        @include tablet{
          text-align: justify;
        }
      }
      .txt-cont{
        margin-top: 5rem;
        @include tablet{
          margin-top:1.5rem;
        }
        a{
          @include flex-start-center;
          margin-top:3rem;
          text-decoration: none;
          button{
            background: $principal;
            color: #fff;
            text-transform: uppercase;
            font-family: leve;
            border: solid 1px #fff;
            padding: 1.3rem 3.5rem;
            letter-spacing: 7px;
            font-size: 1.2rem;
            @include tablet{
              padding:1rem;
              font-size:1rem;
              letter-spacing: 4px;
            }
          }
          .seta{
            width:max-content;
            border:solid 1px $principal;
            padding: 1.1rem 1.5rem;
            margin-left: 1rem;
            @include tablet{
              padding:.6rem 1rem;
            }
            img{
              width: 25px;
            }
          }
          &:hover{
            button{
              background: transparent;
              color:$principal;
              border:solid 1px;
              transition: all .5s ease;
            }
            img{
              transform: rotate(270deg);
              transition: all .5s ease-in-out;
            }
          }
        }
      }
    }
  }
}

//categoria
.chamada-categoria{
  .cont-chamada{
    @include flex-extremos;
    @include tablet{
      flex-direction: column;
      text-align: center;
    }
    .card-categoria{
      width:33.33%;
      @include flex-column;
      height: 100vh;
      margin-top:10px;
      margin-bottom:10px;
      @include tablet{
        width:100%;
      }
      button{
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-family: leve;
        border: solid 1px #fff;
        height: 75px;
        width: 80%;
        letter-spacing: 7px;
        margin-top: 2.2rem;
        font-size: 1.2rem;
        @include tablet{
          padding: 1rem;
          font-size: 1rem;
          letter-spacing: 4px;
        }
        &:hover{
          background:rgba(#fff, .4);
          color: $secundaria;
          border: solid 1px $branco;
          transition: all .5s ease;
          font-weight: bold;
        }
      }
    }
    .card-categoria:nth-child(1){
      background: url('../imgs/campo3_banner_1.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      // margin-left:10px;
    }
    .card-categoria:nth-child(2){
      background: url('../imgs/campo3_banner_2.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin:0 10px;
    }
    .card-categoria:nth-child(3){
      background: url('../imgs/campo3_banner_3.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      // margin-right:10px;
    }
  }
}

//Produtos
.produto-home{
  background: $cinza;
  padding:4rem;
  @include tablet{
    padding: 1rem 1.4rem;
  }
  .t-chamada-loja{
    @include flex-extremos;
    margin-bottom: 2.5rem;
    @include tablet{
      @include flex-column;
    }
    h1{
      text-transform: uppercase;
      color: $secundaria;
      font-family:leve;
      letter-spacing: 7px;
      font-size: 1.5rem;
      font-weight: bold;  
      @include tablet{
        font-size:1rem;
        width:100%;
        margin:1rem 0;
      }
    }
    a{
      color: $principal;
      text-decoration: underline;
      font-family: texto;
      font-size:1.7rem;
      letter-spacing: 5px;
      @include tablet{
        font-size:1.2rem;
      }
      &:hover{
        color: $secundaria;
      }
    }
  }
  .slides-prod{
    button.owl-dot.active{
      span{
        background:#df1829!important;
      }
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
      margin-top: 1.5rem;
  }
    .card-produto-home{
      background: $branco;
      padding: 1rem 1.5rem;
      border-radius: 15px;
      .novo{
        display: flex;
        justify-content: flex-end;
        img{
          width:60px;
        }
      }
      .prod-home-img{
        @include flex-center;
        margin-bottom:3rem;
        padding: 1rem;
        // width:500px;
        img{
          width:100%;
          // height: 450px;
          object-fit: cover;
        }
      }
      .prod-home-txt{
        h1{
          font-family:sub;
          color:$secundaria;
          font-size:1.8rem;
        }
        p{
          color: #999999;
          font-family: texto;
          font-size:1rem;
          margin-bottom: 0;
        }
        span{
          color: #999999;
          font-family: texto;
          font-size:1rem;
        }
        img{
          width:80px;
        }
      }
      .preco-prod-home{
        @include flex-extremos;
        span{
          color: $secundaria;
          font-family:sub;
          color:$secundaria;
          font-size:1.5rem;
        }
        a{
          img{
            width:50px;
          }
        }
      }
    }
  }
}