//Banner 
#carrosel-loja{
  .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #fff;
    @include tablet{
      display:none;
    }
  }
  .carrosel-loja{
    width:100%;
    height: 65vh;
    object-fit: cover;
    @include mobile{
      height:160px;
    }
  }
}
//Categoria chamada 
.categoria-interno{
  .cont-categoria{
    display: flex;
    margin:3rem;
    @include tablet{
      flex-direction: column;
      margin:1.5rem .5rem;
    }
    .card-categoria{
      @include flex-center;
      width:50%;
      position: relative;
      @include tablet{
        width:100%;
      }
      &:hover{
        .filtro{
          opacity: 1;
          transition: all .5s ease;
        }
      }
      img{
        width:100%;
      }
      button{
        position: absolute;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-family: leve;
        border: solid 1px #fff;
        padding: 1.3rem 1.4rem;
        letter-spacing: 7px;
        font-size: 1.2rem;
        z-index:2;
        width:400px;
        @include tablet{
          width:max-content;
          font-size:1rem;
          padding:1rem 2.4rem;
        }
        &:hover{
          background:rgba(#fff, .4);
          color: $secundaria;
          border: solid 1px $branco;
          transition: all .5s ease;
          font-weight: bold;
        }
      }
      .filtro{
        width: 100%;
        position: absolute;
        top: 0;
        background: rgba(#000000,.5);
        z-index: 1;
        height: 100%;
        opacity: 0;
      }
    }
    // .card-categoria:nth-child(1){
    //   margin-right:.5rem;
    // }
    // .card-categoria:nth-child(2){
    //   margin-left:.5rem;
    // }
  }
}

//Produtos em destaque
.destaque-loja{
  padding:3rem;
  @include tablet{
    padding: 1rem;
  }
  .titulo-destaque{
    margin-bottom:2rem;
    h1{
      text-transform: uppercase;
      color: $secundaria;
      font-family:leve;
      letter-spacing: 7px;
      font-size: 1.2rem;
      font-weight: bold;  
    }
  }
    .cont-produto{
      display: flex;
      flex-wrap: wrap;
      
      .card-produto{
        width:32.33%;
        padding: 1rem 1.5rem;
        margin-bottom:2rem;
        border: solid 1px  #ededed;
        border-radius: 15px;
        margin:1rem .3rem;
        @include tablet{
          width: 100%;
        }
        &:hover{
          border: solid 1px $secundaria;
          transition: all 1s ease;
        }
        .novo{
          display: flex;
          justify-content: flex-end;
          img{
            width:60px;
          }
        }
        .prod-home-img{
          @include flex-center;
          margin-bottom:3rem;
          padding: 1rem;
          // width:500px;
          img{
            width:100%;
            // height: 450px;
            object-fit: cover;
          }
        }
        .prod-home-txt{
          display:flex;
          flex-direction: column;
          h1{
            font-family:sub;
            color:$secundaria;
            font-size:1.8rem;
          }
          p{
            color: #999999;
            font-family: texto;
            font-size:1rem;
            margin-bottom: 0;
          }
          span{
            color: #999999;
            font-family: texto;
            font-size:1rem;
          }
          img{
            width:80px;
          }
        }
        .preco-prod-home{
          @include flex-extremos;
          span{
            color: $secundaria;
            font-family:sub;
            color:$secundaria;
            font-size:1.5rem;
          }
          a{
            img{
              width:50px;
            }
          }
        }
      }
    }
}