//Modal Login
.modal-login{
  .modal-header{
    background: url('../imgs/BARRA.png');
    background-repeat: no-repeat;
    background-position: inherit;
    border-radius: 0;
    padding:1.2rem;
    @include mobile{
      padding:.8rem;
    }
    .title-group{
      @include flex-extremos;
      width:100%;
      color:#fff;
      font-family: leve;
      text-transform: uppercase;
      img{
        width:60px;
      }
      .title-modal{
        @include flex-center;
        img{
          width:30px;
          @include mobile{
            width:20px;
          }
        }
        h5{
          margin:0 1rem;
          letter-spacing:5px;
          @include mobile{
            font-size:1rem;
            text-align: center;
          }
        }
      }
      .close{
        margin: 0!important;
        position: relative;
        top: -30px;
        right: -20px;
        color:#fff;
        text-shadow: 0 0 0;
      }
    }
  }
  .modal-dialog{
    max-width:800px;
  }
  .modal-body{
    .col-md-6{
      padding: .5rem 2.5rem;
    }
    .col-md-6:nth-child(1){
      border-right:solid 1px #ced4da;
    }
    h6{
      font-family: titulo;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 2px;
      margin-bottom:.8rem;
    }
    form{
      @include flex-column-start;
      input{
        display: block;
        width: 100%;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin:.5rem 0;
        transition: ease-out all 1s;
        padding: .3rem .8rem;
        font-size: 15px;
        &:focus{
          border: solid 1px $secundaria;
          box-shadow:0 0 0 0;
          outline: 0;
        }
      }
      a{
        font-size:12px;
        color: $secundaria;
        text-decoration: underline;
        margin-bottom:1rem;
      }
      button{
        color: #fff;
        font-family: leve;
        text-transform: uppercase;
        background: $principal;
        width:100%;
        text-align: center;
        border: none;
        padding:.2rem .5rem;
        font-weight: bold;
      }
    }
    .cadastre{
      text-align: center;
      p{
        font-family: leve;
        font-size:14px;
        margin:2rem 0;
      }
      button{
          background: transparent;
          text-transform: uppercase;
          font-family: leve;
          color: $principal;
          border: solid 1px $principal;
          padding: .5rem 2.4rem;
          border-radius: 5px;
          font-weight: bold;
          &:focus{
            box-shadow:0 0 0 0;
            outline: 0;
          }
      }
    }
  }
}
.modal-open .modal{
  @include mobile{
    padding: 0!important;
  }
}