.politicas{
  padding:4.5rem 6rem;
  margin: 0 3rem;
  @include tablet{
    padding:1.5rem 0;
    margin: 0;
  }
  h2{
    font-family: titulo;
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    @include tablet{
      font-size:1rem;
      margin: 0 15px;
    }
  }
  .cont-politicas{
    border-top: solid 2px $principal;
    padding-top: 2rem;
    margin-top:1rem;
    .nav-politicas{
      @include tablet{
        margin:1rem 0;
      }
      li{
        margin:.5rem 0;
      }
      a{
        text-decoration: none;
        color: #000;
        font-family: titulo;
        font-size: 1.2rem;
        @include tablet{
          font-size:1rem;
        }
        
        &:hover{
          color: $principal;
        }
      }
    }
    .item-politica{
      h3{
        font-size: 1.2rem;
        font-family: titulo;
      }
      p{
        font-family: texto;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        @include tablet{
          text-align: justify;
        }
      }
      strong{
        color: $principal;
      }
    }
  }
}
.col-lg-8.col-xl-9{
  @include tablet{
    margin:1.5rem 0;
  }
}