.produto-destaque{
  padding:4.5rem 6rem;
  margin: 0 3rem;
  @include tablet{
    padding:1.5rem 15px;
    margin: 0;
  }
  .produto{
    @include flex-column;
    justify-content: flex-start;
    padding-right: 3rem;
    @include tablet{
      padding-right: 0;
      padding-left: 0;
    }
    .img-destaque{
      width:100%;
    }
    .auxiliador{
      width:100%;
      margin:1rem 0;
      @include flex-extremos;
      img:nth-child(1){
        width:100px;
      }
      img:nth-child(2){
        width:130px;
      }
    }
  }
  .detalhes{
    padding-left:3rem;
    @include tablet{
      padding-right: 0;
      padding-left: 0;
    }
    .titulo-produto{
      h1{
        font-family: titulo;
        font-size:2.3rem;
        margin-bottom:1rem;
      }
    }
    .sku{
      font-family:titulo;
      color: $principal;
    }
    .detalhes-prod{
      margin-top:1rem;
      margin-bottom:2rem;
      li{
        font-family:texto;
        margin-bottom:.4rem;
      } 
      li:nth-child(1){
        font-family: titulo;
      }
    }
    .preco{
      margin-bottom:1rem;
      h3{
        font-family: titulo;
        font-size: 3.2rem;
      }
      span{
        font-family:titulo;
        color: $principal;
      }
    }
    .btn-group{
      width:100%;
      .input-qtd{
        width:100%;
        display: flex;
        align-items: center;
        max-width: max-content;
      }
      label{
        font-family: titulo;
        color: $secundaria;
        margin-right:1rem;
      }
      input{
        display: block;
        width:100px;
        padding:1rem;
        font-size: 1rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        height:50px;
        margin:1rem 0;
        transition: ease-out all 1s;
        border-radius:5px;
        &:focus{
          box-shadow:0 0 0 0;
          outline: 0;
        }
      }
      button{
        background: #00b859;
        border: none;
        color: #fff;
        font-family: titulo;
        padding: 1rem 2rem;
        font-size: 2rem;
        border-radius: 7px;
        margin-left: 2rem;
        cursor: pointer;
        @include tablet{
          margin-left:1rem;
          padding:1rem 1.3rem;
          font-size:1.5rem;
        }
      }
    }
    .frete{
      label{
        font-family: titulo;
        color: $secundaria;
        margin:0;
      }
      .group-input{
        width:100%;
        display: flex;
        align-items: center;
        max-width: max-content;
        input{
          display: block;
          width:250px;
          padding:1rem;
          font-size: 1rem;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          height:50px;
          margin:1rem 0;
          transition: ease-out all 1s;
          border-radius:5px;
          &:focus{
            box-shadow:0 0 0 0;
            outline: 0;
          }
        }
        button{
          background: #296aaa;
          color: #fff; 
          padding: .8rem 1.2rem;
          border-radius: 7px;
          border: none;
          font-family:titulo;
          margin-left: .5rem;
          text-transform: uppercase;
        }
      }
    }
  }
  //Opinião do produto
  .opiniao{
    margin-top:5rem;
    @include tablet{
      margin-top:2rem;
    }
    h4{
      font-family: titulo;
      text-transform: uppercase;
      font-size:1.2rem;
      margin-bottom:1rem;
      padding-bottom:1rem;
      border-bottom: solid 2px #e1e1e1;
    }
    p{
      margin-top:1.5rem;
      font-family: texto;
      text-align: justify;
    }
    button{
      background: transparent;
      border: solid 2px $subtitulo;
      padding:.5rem 1rem;
      border-radius:.5rem;
      color:$subtitulo;
      font-family:leve;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 1rem;
      transition: all .5s ease;
      &:hover{
        background:$subtitulo;
        color: #fff;
      }
    }
    .col-md-6:nth-child(1){
      padding-right:1.5rem;
      @include tablet{
        padding-right:0;
        padding-left: 0;
      }
    }
    .col-md-6:nth-child(2){
      padding-left: 1.5rem;
      @include tablet{
        padding-right:0;
        padding-left: 0;
      }
    }
  }
  //Produtos relacionados
  .relacionados{
    margin-top:3rem;
    padding: 0 1.5rem;
    @include tablet{
      padding: 0;
      margin-top:1.5rem;
    }
    h4{
      font-family: titulo;
      text-transform: uppercase;
      font-size:1.2rem;
      margin-bottom:1rem;
      padding-bottom:1rem;
      border-bottom: solid 2px #e1e1e1;
    }
    .col-md-3{
      @include flex-column;
      margin-top:2rem;
      img{
        width:200px;
      }
      h5{
        font-family: texto;
        color:$subtitulo;
        font-size:1.3rem;
        margin-top:1rem;
        font-weight:bold;
      }
      span{
        font-family:titulo;
        color: #ff787a;
        margin-top: 8px;
        font-size: .9rem;
      }
      h6{
        font-size: 1.8rem;
        color: #666;
        margin-bottom: 1.2rem;
        font-family: titulo;
        font-weight:bold;
        margin-top:5px;
      }
      button{
        background: #00b859;
        border: none;
        color: #fff;
        font-family: titulo;
        padding: 1rem 2rem;
        border-radius: 7px;
      }
    }
  }
}
