.sobre{
  .img-sobre{
    width:100%;
    height: 100vh;
    @include mobile{
      height:auto;
    }
  }
  .col-md-6:nth-child(1){
    text-align: right;
    p{
      margin-left:auto;
    }
  }
  .row{
    margin:2.5rem 0;
    .col-md-6{
      @include mobile{
        padding:1rem!important;
      }
      h2{
        font-family: leve;
        text-transform: uppercase;
        margin-bottom:0;
        @include mobile{
          font-size:1.5rem;
        }
      }
      h3{
        font-family: titulo;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        @include mobile{
          font-size:1.5rem;
        }
      }
      p{
        max-width:500px;
        font-family: leve;
        width:100%;
        @include tablet{
          max-width:inherit;
        }
      }
    }
  }
  .video-institucional{
    margin:4rem auto;
    max-width: 1000px;
    padding:1rem;
    iframe{
      @include mobile{
        height: 300px;
      }
    }
  }
}