@import 'responsivo';
@import "cores";
@import "mixin";
@import 'header';
@import 'modal';
@import 'footer';
@import 'geral';
@import 'index';
@import 'sobre';
@import 'produto';
@import 'carrinho';
@import 'loja';
@import 'faq';
@import 'politicas';
@import 'comoFunciona';
@import 'faleConoso';
@import 'trabalheConosco';
@import 'modal';


html {scroll-behavior: smooth;}

@font-face {
    font-family: Titulo;
    src: url('fonts/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family:leve;
     src: url('fonts/SourceSansPro-Light.otf');
}
@font-face {
    font-family:sub;
     src: url('fonts/SourceSansPro-Semibold.otf');
}
@font-face {
    font-family: texto;
     src: url('fonts/SourceSansPro-Regular.otf');
}
